{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/search_and_filter.css') }}">
{% endblock %}

{% block content %}

    {% include 'includes/_filter_form.html' %}

    <div class="table-flex">
    <table class="filter-table">

        <tr class="head-row">
            {% for column_name in column_names %}
                {% if not column_name == 'visible' %}
                    <th>{{ column_name.upper().replace("_", " ") }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% for record in query_records %}
            <tr class="regular-row">
                {% if record.visible == 'True' %}
                    {% for column_name in column_names %}
                        {% if not column_name == 'visible' %}
                            <td>{{ record[column_name] }}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>


{% endblock %}