{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/diagnosis.css') }}">
{% endblock %}>

{% block content %}

    <div class="modal-container">
        <div class="modal" id="modal-edit">
            <span class="fas fa-times btn-close-modal btn-close-edit"></span>
            <h3>Edytuj objawy</h3>
            <form class="form-edit" method="POST" action="{{ url_for('user_buried') }}">
                {{ edit_diagnosis_form.csrf_token }}
                {{ edit_diagnosis_form.symptoms.label(class="label") }} {{ edit_diagnosis_form.symptoms(class="symptoms-field") }}
                <button type="submit" class="btn btn-add btn-modal-item btn-edit-item">Edytuj</button>
            </form>
        </div>

        <div class="modal" id="modal-delete">
            <span class="fas fa-times btn-close-modal btn-close-delete"></span>
            <h3>Potwierdzenie usunięcia</h3>
            <form method="POST" action="{{ url_for('user_buried') }}">
                {{ delete_record_form.csrf_token }}
                <button type="submit" class="btn btn-add btn-modal-item btn-delete-item">Usuń</button>
            </form>
        </div>
    </div>

    <div class="form-box">

        {% for mess in get_flashed_messages() %}
            <div class="flash-message" role="alert">
                {{ mess }}
                <span class="fas fa-times btn-close-modal btn-close-flash"></span>
            </div>
        {% endfor %}

        <h2>Dodaj obserwowane objawy</h2>
        <form action="{{ url_for('user_buried') }}" method="POST">
                {{ diagnosis_form.csrf_token }}
                {{ diagnosis_form.visit(class="visit-field") }}
                {{ diagnosis_form.symptoms(class="symptoms-field") }}
            <button class="button" type="submit">Zapisz</button>
        </form>
    </div>

    <div class="table-flex">
        <table class="filter-table">
            <tr class="head-row">
                {% for columnn in diagnosis_header %}
                    <th>{{ columnn.upper().replace("_", " ") }}</th>
                {% endfor %}
            </tr>
            {% for diag in diagnosis %}
                <tr class="regular-row" id="item-{{ diag.id }}">
                    <td><img class="btn btn-remove" src="{{ url_for('.static', filename='img/icon-remove.svg') }}" alt="Remove"></td>
                    <td>{{ diag.visit }}</td>
                    {% if diag.symptoms == '' or diag.symptoms is none %}
                        <td>brak</td>
                    {% else %}
                        <td>{{ diag.symptoms }}</td>
                    {% endif %}
                    {% if diag.recommendation == '' or diag.recommendation is none %}
                        <td>brak</td>
                    {% else %}
                        <td>{{ diag.recommendation }}</td>
                    {% endif %}
                    {% if diag.prescribed_medication == '' or diag.prescribed_medication is none %}
                        <td>brak</td>
                    {% else %}
                        <td>{{ diag.prescribed_medication }}</td>
                    {% endif %}
                    <td><img class="btn btn-edit" src="{{ url_for('.static', filename='img/icon-edit.svg') }}" alt="Edit"></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="{{ url_for('.static', filename='js/user_buried.js') }}"></script>
{% endblock %}
