{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/visits.css') }}">
{% endblock %}


{% block content %}
    <div class="modal-container">
        <div class="modal" id="modal-edit">
            <span class="fas fa-times btn-close-modal btn-close-edit"></span>
            <h3>Modyfikuj wizytę</h3>
            <form class="form-edit" method="POST" action="{{ url_for('user_visits') }}">
                {{ edit_visit_form.csrf_token }}
                {{ edit_visit_form.id(class="input-edit-id field") }}
                {{ edit_visit_form.date_of_visit.label(class="label") }} {{ edit_visit_form.date_of_visit(class="input-edit-date field") }}
                {{ edit_visit_form.time_of_visit.label(class="label") }} {{ edit_visit_form.time_of_visit(class="input-edit-time field") }}
                {{ edit_visit_form.doctor.label(class="label") }} {{ edit_visit_form.doctor(class="input-edit-doctor field") }}
                <button type="submit" class="btn btn-add btn-modal-item btn-edit-item">Edytuj</button>
            </form>
        </div>

        <div class="modal" id="modal-delete">
            <span class="fas fa-times btn-close-modal btn-close-delete"></span>
            <h3>Potwierdzenie usunięcia</h3>
            <form method="POST" action="{{ url_for('user_visits') }}">
                {{ delete_record_form.csrf_token }}
                {{ delete_record_form.id(class="input-delete-id field") }}
                <button type="submit" class="btn btn-add btn-modal-item btn-delete-item">Usuń</button>
            </form>
        </div>
    </div>


    <div class="form-box">
    <h2>Dodaj wizytę</h2>
        <form action="{{ url_for('user_visits') }}" method="POST">
            {{ visit_form.hidden_tag() }}
            {{ visit_form.date_of_visit(class="date-field") }}
            {{ visit_form.time_of_visit(class="time-field") }}
            {{ visit_form.doctor(class="doctor-field") }}
            <button type="submit" class="button">Dodaj</button>
        </form>
    </div>


    <div class="table-flex">
        <table class="filter-table">
            <tr class="head-row">
                {% for columnn in visit_header %}
                    <th>{{ columnn.upper().replace("_", " ") }}</th>
                {% endfor %}
            </tr>
            {% for visit in visits %}
                <tr class="regular-row" id="item-{{ visit.id }}">
                    <td><img class="btn btn-remove" src="{{ url_for('.static', filename='img/icon-remove.svg') }}" alt="Remove"></td>
                    <td>{{ visit.id }}</td>
                    <td>{{ visit.date_of_visit }}</td>
                    <td>{{ visit.time_of_visit }}</td>
                    <td>{{ visit.doctor }}</td>
                    <td><img class="btn btn-edit" src="{{ url_for('.static', filename='img/icon-edit.svg') }}" alt="Edit"></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="{{ url_for('.static', filename='js/user_visits.js') }}"></script>

{% endblock %}